// The basic two column layout

.side-bar {
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;
  flex-shrink: 0;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;

  @include mq(md) {
    flex-flow: column nowrap;
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    width: var(--sidebar-width, $nav-width-md);
    height: 100vh;
    max-height: 100vh;
    border-right: $border $border-color;
    align-items: stretch;
    overflow-y: auto;
    overflow-x: hidden;
  }

  @include mq(lg) {
    width: var(--sidebar-width, $nav-width);
    min-width: var(--sidebar-width, $nav-width);
  }

  & + .main {
    @include mq(md) {
      margin-left: var(--sidebar-width, $nav-width-md);
      width: calc(100% - var(--sidebar-width, $nav-width-md));
    }

    @include mq(lg) {
      margin-left: var(--sidebar-width, $nav-width);
      width: calc(100% - var(--sidebar-width, $nav-width));
    }

    .main-header {
      display: none;
      background-color: $sidebar-color;

      @include mq(md) {
        display: flex;
        background-color: $body-background-color;
      }

      &.nav-open {
        display: block;

        @include mq(md) {
          display: flex;
        }
      }
    }
  }
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  @include mq(md) {
    position: relative;
    max-width: none;
    margin-left: var(--sidebar-width, $nav-width-md);
    width: calc(100% - var(--sidebar-width, $nav-width-md));
    height: 100vh;
  }

  @include mq(lg) {
    margin-left: var(--sidebar-width, $nav-width);
    width: calc(100% - var(--sidebar-width, $nav-width));
  }
}

.main-content-wrap {
  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;

  @include container;

  @include mq(md) {
    padding-top: $gutter-spacing;
    padding-bottom: $gutter-spacing;
  }

  @include mq(lg) {
    max-width: 100%;
    padding-right: $gutter-spacing * 2;
    padding-left: $gutter-spacing * 2;
  }
}

.main-header {
  z-index: 0;
  border-bottom: $border $border-color;

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    height: $header-height;
  }
}

.site-nav,
.site-header,
.site-footer {
  width: 100%;

  @include mq(lg) {
    width: $nav-width;
  }
}

.site-nav {
  display: none;

  &.nav-open {
    display: block;
  }

  @include mq(md) {
    display: block;
    padding-top: $sp-8;
    padding-bottom: $gutter-spacing-sm;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}

.site-header {
  display: flex;
  min-height: $header-height;
  align-items: center;
  width: 100%;
  padding-left: $sp-4;
  padding-right: $sp-4;

  @include mq(md) {
    height: $header-height;
    max-height: $header-height;
    border-bottom: $border $border-color;
    padding-left: $sp-4;
    padding-right: $sp-4;
  }
}

.site-title {
  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: $sp-3;
  padding-bottom: $sp-3;
  color: $body-heading-color;
  font-size: $font-size-5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include mq(md) {
    padding-top: $sp-2;
    padding-bottom: $sp-2;
  }
}

@if variable-exists(logo) {
  .site-logo {
    width: 100%;
    height: 100%;
    background-image: url($logo);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}

.site-button {
  display: flex;
  height: 100%;
  padding: $gutter-spacing-sm;
  align-items: center;
}

@include mq(md) {
  .site-header .site-button {
    display: none;
  }
}

.site-title:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 80%,
    rgba($feedback-color, 0) 100%
  );
}

.site-button:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 100%
  );
}

// stylelint-disable selector-max-type

body {
  position: relative;
  padding-bottom: $sp-10;
  overflow-y: scroll;

  @include mq(md) {
    position: static;
    padding-bottom: 0;
  }
}

// stylelint-enable selector-max-type

.site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: $sp-4;
  padding-bottom: $sp-4;
  color: $grey-dk-000;

  @include container;

  @include fs-2;

  @include mq(md) {
    position: static;
    justify-self: end;
  }
}

.icon {
  width: $sp-5;
  height: $sp-5;
  color: $link-color;
}
